# SETTINGS ###############################################
KERNEL_VERSION=3.10.63
##########################################################

# ENVIRONMENT ############################################
PATH_SOURCE=/usr/src
##########################################################
