# SETTINGS #############################
ARCH=i386
RELEASE=precise
LXC_CACHE=/var/cache/lxc
MIRROR=http://archive.ubuntu.com/ubuntu/
########################################

# DEPENDENCIES #########################
PACKAGES=0
BOOTSTRAP=0
########################################

# TOOLS ################################
PATCH=0
DUMP=1
########################################
