# SETTINGS ###############################################
NODE=1								   #   Enable node tracking        #
DEBUG=1                  #   Enable debugging            #
MANAGER=0                #   0: No manager               #
                         #   1: Static manager           #
												 #   2: Dynamic manager          #
LOG2FILE=0               #   Log to file                 #
EVALUATE=0							 #   Enable evaluation           #
CONTAINER=1							 #   Utilize container           #
##########################################################

# LOGGING ################################################
SHOW_MIG=1							 #   Show resource migration     #
SHOW_SHM=1							 #   Show shared-memory IPC      #
SHOW_SEM=1							 #   Show semaphore IPC          #
SHOW_MSG=1               #   Show message IPC            #
SHOW_TSK=1               #   Show task                   #
SHOW_TMP=1               #   Show temporary information  #
SHOW_IPC=1							 #   Show IPC information        #
SHOW_DUMP=1							 #   Show dumping                #
SHOW_KLNK=1							 #   Show klnk information       #
SHOW_SYNC=1              #   Show sync information       #
SHOW_CKPT=1              #   Show checkpointing          #
SHOW_PROC=1              #   Show processing information #
SHOW_NODE=1							 #   Show node tracking          #
SHOW_MORE=0              #   Show more details           #
SHOW_PAGE=0              #   Show page information       #
SHOW_LINE=0              #   Show line information       #
SHOW_LOCK=0              #   Show lock information       #
SHOW_REDO=0              #   Show redo information       #
SHOW_PRIO=0              #   Show priority information   #
SHOW_EVENT=1             #   Show event information      #
SHOW_MEMBER=1            #   Show member information     #
SHOW_RECORD=1            #   Show record information     #
SHOW_RWLOCK=0            #   Show rwlock information     #
SHOW_RESTORE=1           #   Show restoring information  #
SHOW_REQUEST=1           #   Show requests               #
SHOW_BARRIER=0           #   Show barrier information    #
##########################################################

# ENVIRONMENT ############################################
PATH_LOG=/var/log
PATH_MIFS=/mnt/mifs
PATH_DUMP=/usr/bin/dump
PATH_CONF=/etc/default/klnk
##########################################################

# DEFAULTS ###############################################
IFNAME=eth0
KLNK_PORT=12000
METADATA_PORT=23001
##########################################################
