# SETTINGS ###############################################
DEBUG=1                  #   Enable debugging            #
LOG2FILE=0               #   Log to file                 #
##########################################################

# ENVIRONMENT ############################################
PATH_LOG=/var/log
PATH_MNT=/mnt/mifs
##########################################################
