# DEFAULT SETTINGS #########################################
VETH=0                     # Enable virtual network adapter#
NODE=1                     # Enable node tracking          #
UNSHARE=1                  # Unshare the IPC namespace     #
EVALUATE=0                 # Enable evaluation             #
#----------------------------------------------------------#
MANAGER_TYPE=1             # The type of manager:          #
                           #   0: Area manager             #
                           #   1: Static manager  (SMGR)   #
                           #   2: Dynamic manager (DMGR)   #
#----------------------------------------------------------#
IFNAME=eth0                # Net adapter                   #
MDS_PORT=23001             # Metadata server port          #
KLNK_PORT=12000            # Kernel linker port            #
############################################################

# DEBUGGING ################################################
ERROR=1                    # Show errors                   #
DEBUG=1                    # Show debugging information    #
WARNING=0                  # Show warnings                 #
LOG2FILE=1                 # Save log to file              #
TRACE_PROC=0               # Trace the RPC                 #
############################################################

# LOGGING ##################################################
SHOW_IO=0                  # Show klnk I/O                 #
SHOW_MIG=0                 # Show resource migration       #
SHOW_SHM=1                 # Show shared-memory IPC        #
SHOW_SEM=1                 # Show semaphore IPC            #
SHOW_MSG=1                 # Show message IPC              #
SHOW_TSK=1                 # Show task information         #
SHOW_IPC=0                 # Show IPC information          #
SHOW_RPC=0                 # Show RPC information          #
SHOW_DMGR=0                # Show DMGR information         #
SHOW_FILE=0                # Show file information         #
SHOW_DUMP=0                # Show dumping information      #
SHOW_KLNK=1                # Show klnk information         #
SHOW_SYNC=0                # Show sync information         #
SHOW_CKPT=0                # Show checkpointing            #
SHOW_PROC=0                # Show processing information   #
SHOW_NODE=0                # Show node tracking            #
SHOW_PAGE=0                # Show page information         #
SHOW_LOCK=0                # Show lock information         #
SHOW_REDO=0                # Show redo information         #
SHOW_PRIO=0                # Show priority information     #
SHOW_EVENT=0               # Show event information        #
SHOW_MEMBER=0              # Show member information       #
SHOW_RECORD=0              # Show record information       #
SHOW_RWLOCK=0              # Show rwlock information       #
SHOW_RESTORE=0             # Show restoring information    #
SHOW_REQUEST=0             # Show requests                 #
SHOW_BARRIER=0             # Show barrier information      #
SHOW_RESOURCE=0            # Show basic resource info      #
SHOW_METADATA=0            # Show metadata info            #
#----------------------------------------------------------#
SHOW_MORE=0                # Show more details             #
############################################################

# ENVIRONMENT ##############################################
PATH_LOG=/vhub/var/log     # For saving log files          #
PATH_LBFS=/vhub/mnt/lbfs   # The mountpoint of LBFS        #
PATH_DUMP=/vhub/init/dump  # A tool used for dumping       #
PATH_CONF=/vhub/conf/klnk  # Configuration file            #
PATH_CACHE=/vhub/var/cache # For caching files             #
############################################################
